{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block	title %}{% endblock	%}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{% static "css/myblog.css" %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #041F61;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>My Blog Site</strong></a>
    </div>
    <ul class="nav navbar-nav">
	<a class="nav-link" href="{% url "myblog:post_list" %}"><i class="fa fa-home"></i> <strong>Home</strong><span class="sr-only">(current)</span></a>
      {% comment %} <li class="active"><a href="#">Home</a></li> {% endcomment %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
	
	<a class="nav-link" href="{% url "myblog:contact_us" %}"><i class="fa fa-phone"></i>  <strong>Contact Us</strong><span class="sr-only">(current)</span></a>
    </ul>
  </div>
</nav>
  

	{% comment %} <div id="content"> {% endcomment %}
	{% block content %}
	{% endblock %}
	{% comment %} </div> {% endcomment %}
	{% comment %} <div id="sidebar">
	<h2>My	blog</h2>
    <p>This	is	my	blog.</p> {% endcomment %}
	</div> 
</body>
</html>
